whisper
torch
librosa
numpy
soundfile
sounddevice
psutil
transformers
typing



edge-tts
sentencepiece
google-genai
python-dotenv



sentence_transformers
langchain
langchain_community
tiktoken 
pdfminer.six


streamlit
