whisper
torch
librosa
numpy
streamlit-audiorec
transformers
typing



edge-tts
google-genai
python-dotenv



sentence_transformers
langchain
langchain_community
faiss-cpu
pymupdf
tiktoken 
pdfminer.six


streamlit
